* {
    margin: 0;
    padding: 0;
}

main{

}

body{
    justify-content: center;
}

header{
    width: 100%;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 90%);
    padding: 0.2rem;
}

.today-news ul{
    display: flex;
    gap: 0.5rem;
    list-style: none;
    font-size: .75rem;
    font-family: Roboto,"Helvetica Neue",Arial;
}

.today-news li:first-child{
    color: hsl(0, 100%, 40%);
    font-weight: bold;
}

.local-news ul{
    display: flex;
    gap: 0.5rem;
    list-style: none;
    justify-content: flex-end;
    font-size: .7rem;
    font-family: Roboto,"Helvetica Neue",Arial;
}

.main-bar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: hsl(0, 100%, 40%);
    align-items: center;
}

.burger-menu svg{
    width: 3rem;
    height: 3rem;
    fill: hsl(0, 0%, 100%);
}

.logo{
    width: 20%;    
}

.logo svg{
    fill: hsl(0, 0%, 100%);
}

.user-area{
    display: flex;
    gap: 1rem;
}

.sign-in{
    display: flex;
    background-color: hsl(0, 0%, 90%);
    border-radius: 0.25rem;
}

.sign-in button{
    display: flex;
    gap: 0.4rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    font-size: .85rem;
}

.sign-in svg{
    width: 1rem;
    height: 1rem;
}

.register button{
    background-color: hsl(47, 100%, 50%);
    padding: 0.5rem;
    border: none;
    font-family: "Times New Roman",Times,serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.25rem;
}

.header-menu{
    margin-top: 0.3rem;
}

.header-menu ul{
    align-items: center;
    display: flex;
    gap: 0.3rem;
    list-style: none;
    justify-content: space-between;
    border-bottom: solid 2px hsl(0, 0%, 80%);
    background-color: hsl(0, 0%, 90%);
}

.header-menu li{
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 600;
}

.header-menu li:first-child svg{
    width: 1.5rem;
}

.header-menu li:last-child svg{
    width: 1rem;
}

.container{
    width: 80%;
    padding: 0 7.5rem;
}

.square-ad{
    margin-left: 2rem;
    position: sticky;
    top: 10px;
}

.one-column{
    display: flex;
    margin-top: 0.75rem;
    flex: 1;
}

article{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    margin-bottom: 0.25rem;
}

p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-bottom: 0.25rem;
}

.news-image{
}

.news-category.highlighted nav{
    color: hsl(0, 100%, 40%);
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 1.1rem;
    margin-bottom: 0.25rem;
}

.two-column{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
    width: 50%;
    flex: 2;
}

.rectangular-ad{
    position: sticky;
    top: 10px;
}

.news-category {
    color: hsl(0, 0%, 20%);
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 1.1rem;
    margin-bottom: 0.25rem;
}

.news-author{
    color: hsl(0, 0%, 20%);
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 1.1rem;
    margin-bottom: 0.25rem;
}

.news-related-content{
    color: hsl(0, 0%, 20%);
    font-family: Georgia,Times,"Times New Roman",serif;
    font-weight: bold;
    font-size: .85rem;
    line-height: 1.1rem;
    margin-bottom: 0.25rem;
}

.news-related-content ul{
    list-style-type: square;
    fill: red;
}

.sub-section{
    display: flex;    
    justify-content: center;
    gap: 2rem
}

.three-column{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex: 3;
}

.news-category.highlighted-blue nav{
    color: hsl(199, 100%, 70%);
    font-family: "Roboto Condensed",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: .85rem;
    line-height: 1.1rem;
    margin-bottom: 0;
}

.branded-content{
    background-color: hsla(216, 100%, 90%, 0.425);
}

.section-title{
    font-family: "Roboto Condensed",sans-serif;
    text-align: center;
}

.four-column{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 1rem;
}

